/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("assets/background-light.jpeg");
  background-position: 50%;
  background-size: cover;
  margin: auto;
}
